body{
  padding:0px;
  margin:0px;
}


#container{
  width: 800px;
  height: 400px;
  border: 3px solid black;
  margin-left: 200px;
  margin-top: 150px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.box{
  width: 200px;
  height: 200px;
  border: 2px solid black;
  margin-left: 40px;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 3s ease-in 3s;
}

.inside :hover img{
  width: 55%;
  height: 55%;
  background-color: whitesmoke;
  width: 80%;
  margin-left: 20px;
}









/*  text-align:left,center,right 
    text-transform: lowercase, upercase, capitalize, none, full-width math-auto;
    text-decoration:underline,overline,linethrough,none
    font-weight: (normal 400),(bold 700),bolder,lighter
    font-family:arial,..
    font-size:20px
    line-height:20px,10px,normal
    border-width:10px;
    border-style:solid,dashed
    border-color:black;
    border : 2px solid black;
    border-radius:30px;
    display:inline; it take required width
    dislpay:block it covers entier the width 
    display:inline-block; it set margin from all sides
    display:none;
    visibility:hidden;
     visibility: visible;
     visibility: collapse;
    positions=>
    static, relative, absolute, fixed, sticky.
    example of position 
    div{
      position: relative;      
      left: 20px;
    }
    background-image: url("link");
    backgroun-size:cover,contain,auto.
    */